.carousel-item img{
   
    height: 280px;
    object-fit: cover;
}

.section--arma{
    margin: 30px auto;
   
}

.contenedor-carrusel-tabla{
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    
    
}

.section--arma{
    display: flex;
    column-gap: 60px;
    justify-content: center;
}
.carrusel-wrapper{
    width: 100%;
    max-width: 500px;
}
@media (min-width:768px){
    .contenedor-carrusel-tabla{
        flex-direction: row;
    }
    
}

.table{
    width: 50%;
}