.carousel-item img{
   
    height: 280px;
    object-fit: cover;
}

.section--arma{
    margin: 30px auto;
   
}

.contenedor-carrusel-tabla{
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    
    
}

.section--arma{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    margin: 30px auto;
}
.table {
  width: 100%;  // En móvil que ocupe todo el ancho del contenedor
  max-width: 500px;  // Para no crecer demasiado en pantallas grandes
  overflow-x: auto;  // Que se pueda scrollear horizontalmente si es necesario
  table-layout: auto;
  word-break: break-word;
}

.carrusel-wrapper{
    width: 100%;
    max-width: 500px;
}
@media (min-width:768px){
    .contenedor-carrusel-tabla{
        flex-direction: row;
    }
    
}

.table{
    width: 100%;
 
}
.section--arma{
    column-gap: 60px;
}